<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StorageConnectionString" value="" />
		<add key="PhotoViewerPath" value="C:\Program Files\IrfanView\i_view64.exe" />
		<add key="VideoViewerPath" value="C:\Program Files\VideoLAN\VLC\vlc.exe" />
	</appSettings>
</configuration>