<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=photofox;AccountKey=LTIetKvBGKAqSvnpnqNe05ObOWoLW6P+uMXgd01DEN26eekmgJtFB8MTi+jjZshXh/RXb6i2weQoiosBjlMq7A==;EndpointSuffix=core.windows.net" />
	</appSettings>
</configuration>