<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=photofox;AccountKey=LTIetKvBGKAqSvnpnqNe05ObOWoLW6P+uMXgd01DEN26eekmgJtFB8MTi+jjZshXh/RXb6i2weQoiosBjlMq7A==;EndpointSuffix=core.windows.net" />
		<add key="StorageConnectionString_Test" value="DefaultEndpointsProtocol=https;AccountName=photofoxtest;AccountKey=RFy9zce6HMXGuXS5QAYxSIiA7H9RKm57zrf787BBY5kWK2Uq6vkXASc9juBHsFWB5EC3g9yEHTKf+AStcNUXlQ==;EndpointSuffix=core.windows.net" />
	</appSettings>
</configuration>